/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #011636;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    text-align: left;
  }
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 2.50rem;
  text-align: center;
  font-weight: normal;
}

/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.sidebar-nav-item {
  display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* only for paragrahs inside elements with class post and no where else */
.post p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */
 
.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

/* Overriding max width so the text comes till the sidebar*/
.content.container {
  max-width: 50rem;
}

/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
    text-align: center;
  }
}

.portrait > img {
  width: 50%;
  display: inline;
  display: block;
  margin-left: auto;  
  margin-right: auto;  
  padding: 5px;  
}

.homepage-content {
  text-align: justify;
  margin-right: 0;

}

.hompage-header .title{
  text-align: center;
}

summary {
  margin-top: 0;
  font-family: 'Outfit', sans-serif;
}

/* font-size: 1.25rem; */

/*
 * Cards
 * Custom css to style Cards that are at the bottom of the teaching page. 
 * The class for card was defined in layouts/_default/single.html(lines 6-13)
 */
 
 /* Card Columns */
.card-columns {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    text-align: center;
    
    /*column-count: 4;
    list-style: none;
    text-align: center;
    background-color: #f2f2f2*/
    
    /* i think I need to add something here or in card below so that the text within the list becomes responsive* color: #227bb9 */
  
}

.card-columns h5 {
    display: inline-grid;
    color: #227bb9;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

 
 
 /* Basic Card width: 18rem;*/
.card {
  /*display: block; */
  background-color: #f2f2f2;
  
}

 /* Card Image */
 
 
 /* Card Title 
.card-columns.card {
  display: block;
  margin-top: 0;
  text-align: center;
}*/



 