
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    text-align: left;
  }
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 3.25rem;
  text-align: center;
}

/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.sidebar-nav-item {
  display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* only for paragrahs inside elements with class post and no where else */
.post p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

/* Overriding max width so the text comes till the sidebar*/
.content.container {
  max-width: 65rem;
}

/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
    text-align: center;
  }
}

.portrait > img {
  width: 50%;
  display: inline;
  display: block;
  margin-left: auto;  
  margin-right: auto;  
  padding: 5px;  
}

.homepage-content {
  text-align: justify;
  margin-right: 0;

}

.hompage-header .title{
  text-align: center;
}

summary {
  margin-top: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 1.25rem;
}